<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <include>Base</include>
        <event-block sid="691655898471914">
            <conditions>
                <condition id="6" name="On button pressed" sid="201892812536435" type="Gamepad">
                    <param id="0" name="Gamepad">0</param>
                    <param id="1" name="Button">0</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="395898874214437" type="System">
                    <param id="0" name="Layout">Level1</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
